*.jar
lib-project/AndroidBootstrap/bin/androidbootstrap.jar
lib-project/actionbarsherlock/bin/actionbarsherlock.jar
WEBS/gen/com/webs/app/R.java
lib-project/AndroidBootstrap/bin/androidbootstrap.jar
*.class
*.jar